body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
  padding: 40px;
}
.main-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1240px;
  height: 1754px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.5);
  margin: 0;
}

/* main content */

.main-content-section {
  width: 650px;
  height: 1200px;
  padding: 25px 90px 0 90px;
}
.about-me-section {
  width: 407px;
  }
.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgb(66, 61, 85);
}
.my-name {
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 55px;
  color: rgb(66, 61, 85);
  margin: 20px 0 20px 0;
  text-transform: uppercase;
}
.my-description {
  font-style: normal;
  /* font-size: 14px; */
  font-weight: 400;
  line-height: 24px;
  color: black;
  width: 170%;
  margin: 0;
}

.my-description-role {
  font-style: normal;
  font-weight: 400;
  /* font-size: 14px; */
  line-height: 24px;
  color: black;
  width: 100%;
  margin: 0;
}

.projects-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: rgb(66, 61, 85);
  text-transform: uppercase;
}
.projects-content {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0 0 0 17px;
}
.projects-list {
  color: black;
  font-weight: bold;
}
.projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: black;
  margin-left: 10px;
}
.projects-text-link {
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  color: rgb(66, 61, 85);
  text-decoration:none;
  text-transform: uppercase;
}
.link{
  text-decoration:underline;
  text-transform:capitalize;
}
.projects-text-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: black;
}
.my-work-experience-section {
  width: 650px;
  left: 498px;
  top: 600px;
}
.work-experience-title {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: rgb(66, 61, 85);
  margin-top: 0px;
  text-transform: uppercase;
}
.work-experience-companies {
  margin: 0 0 20px 0;
}
.work-experience-companies1 {
  margin: 0 0 45px 0;
}
.work-name3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  margin: 0 0 10px 0;
  color: rgb(66, 61, 85);
  text-transform: uppercase;
}
.orange-title {
  color: #fb6d3a;
}
.date3 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  color: #000000;
  margin: 0 0 10px 0;
}
.date3-divider {
  color: black;
}
.my-work-description3 {
  /* font-size: 14px; */
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  padding: 0 0 0 17px;
}
.my-work-description-duty {
  font-style: normal;
  font-weight: normal;
  /* font-size: 14px; */
  line-height: 24px;
  color: #000000;
}
.work-name2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: rgb(66, 61, 85);
  text-transform: uppercase;
}
.my-work-description2 {
  /* font-size: 14px; */
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0px;
  text-align: left;
  padding: 0 0 0 17px;
  color: #000000;
}
.work-name1 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.my-work-description1 {
  /* font-size: 14px; */
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  text-align: left;
  margin-top: 0px;
  padding: 0 0 0 17px;
}
.my-education {
  height: 114px;
  left: 498px;
  top: 1138px;
  
}
.my-education-goit {
  height: 114px;
  left: 498px;
  top: 1138px;
  padding: 40px 0 0 0;
}

.education-title {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: rgb(66, 61, 85);
    text-transform: uppercase;
}
.name-university {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #fb6d3a;
  margin: 10px 0 10px 0;
  text-transform: uppercase;
  
}
.Finance {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin: 10px 0 10px 0;
  color: rgb(66, 61, 85);
    text-transform: uppercase;
}
.education-date {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: #000000;

  left: 498px;
  top: 640px;
  margin: 10px 0 0 0;
}
/* sidebar section */
.sidebar-section {
  background-color: #838463;
  
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 0px;
}

.foto{
  margin-left: -10px;
}
.contacts-section,
.tech-skills-section {
  margin: 30px 0 0 40px;
  
}

.sidebar-section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffff;
  margin-bottom: 10px;
  text-transform: uppercase;
  
}
/* contacts section */
.contacts-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffff;
  margin-right: 10px;
}
.contacts-section-link {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin: 25px 0 20px 0;
}
.town{
  margin: 0;
  color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

}
/* tech skills section */
.tech-skills-list {
  padding: 0 0 0 17px;
}
.tech-skills-item {
  color: #fb6d3a;
 
}
.tech-skills-item-text {
  font-style: normal;
  font-weight: bold;
  /* font-size: 14px; */
  line-height: 24px;
  color: #ffff;
}
/* soft skills section */
.soft-skills-section {
  margin: 30px 0 0 40px;
}
.soft-skills-list {
  padding: 0 0 0 17px;
}
.soft-skills-item {
  color: #fb6d3a;
}
.tech-skills-item-text {
  font-style: normal;
  font-weight: normal;
  /* font-size: 14px; */
  line-height: 24px;
  color: #ffff;
}
